<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show all Books</title>
</head>
<body>
<table class="bookList">
  <caption>List of all books</caption>
  <thead>
  <tr>
    <th scope="col">ISBN</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Year</th>
    <th scope="col">Edition</th>
    <th scope="col">Borrower</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${books}">
    <th th:text="${book.isbn}" scope="row">123456</th>
    <td th:text="${book.title}">Harry Potter</td>
    <td th:text="${book.author}">J.K. Rowling</td>
    <td th:text="${book.yearOfPublication}">2002</td>
    <td th:text="${book.edition}">1st</td>
    <td th:text="${book?.borrowing?.borrowerEmailAddress}">someone@codecentric.de</td>
  </tr>
  </tbody>
</table>

<div th:replace="~{fragments/footer :: subpage-footer}">Footer</div>

</body>
</html>
